{
  "$schema": "https://aiwg.io/schemas/aiwg.config.v1.json",
  "version": "1",
  "providers": [
    "claude"
  ],
  "installed": {
    "all": {
      "version": "2026.4.0-rc.16",
      "source": "bundled",
      "installedAt": "2026-04-09T18:10:12.560Z",
      "deployedTo": {
        "claude": {
          "agents": 180,
          "commands": 0,
          "skills": 359,
          "rules": 13
        }
      },
      "manifestHash": "sha256:74c9765713c21eba56e6de9854b749b9b3b66b57f543da57a2818e1675069f24"
    }
  },
  "scripts": {}
}
